
.AttendanceBox{
    background: #f7f5f5;
    border-radius: 10px;
}
.AttendanceBox h6{
    color: black;
    font-size: 26px;
    text-transform: uppercase;
}

.AttendanceBox .submitBtn{
    background: #014f86;
    margin-top: 33px;
    padding: 6px 20px;
    border-radius: 8px;
}
#Print{
    background: #014f86;
    margin-top: 33px;
    padding: 6px 20px;
    border-radius: 8px;
}