.MasterClass{
    margin-top: 80px;
    padding: 15px;
}


.Change_PasswordBtnBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.Change_PasswordBtnBox div {
    width: 50%;
}

@media screen and (max-width: 480px) {
    .Change_PasswordBtnBox div {
        width: 100%;
    }

    .DepartmentsFlexBox .DepartmentssearchBox {
        flex-wrap: wrap;
    }
}